# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# IDE
.vscode

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Test files
*_test.go
test_*.go
message_kafka.sh

# Documentation
README.md
*.md

# Temporary files
*.tmp
*.temp 